/* all body font */

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

/* header text & image */
.head-content {
    width: 1321px;
    height: 646px;
    background-color: #f2f2f2;
    margin-left: 100px;
    border-radius: 15px;
    display: flex;
    margin-bottom: 7%;

}

/* header text style */

.content {

    width: 531px;
    font-size: large;
    margin-top: 10%;
    margin-left: 7%;


}

.content h1 {
    font-weight: 700;
    font-size: 50px;
}

.content p {
    letter-spacing: 1px;
}

/* button style */
.head-button a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 5px;
    font-weight: bold;

}

.head-icon {
    font-size: large;
    color: rgb(255, 255, 255);
}

.head-button {
    padding: 20px 40px;
    border-radius: 6px;
    margin-top: 5%;
    border: none;
    background-color: #74b9ff;


}

/* image style */
#image {
    position: absolute;
    top: 10%;
    right: 7%;

}

#image img {
    height: 500px;
    filter: drop-shadow(-140px -140px 5px rgba(0, 0, 0, 0.5));
    transition: 0.5s;
}

#image img:hover {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

}

/* main content style */
.box-menu {
    width: 300px;
    height: 312px;
    background-color: #74b9ff;
    border-radius: 6px;
    margin-left: 7%;
    margin-right: 22px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.box-menu button {
    padding: 10px;
    margin: 20px 30px;
    background-color: #ffffff;
    border: none;
    border-radius: 5px;
}

#blog-page {
    background-color: #00b894;
}

#blog-a {
    color: white;
}

.box-menu a {
    text-decoration: none;
    color: rgb(55, 55, 55);
    font-weight: 700;
    font-size: large;
}

/* -- main menu & blog style -- */
.box-flex {
    display: flex;
}

.blog-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 22px;
    grid-column-gap: 22px;
}

.box {
    width: 315px;
    border-radius: 5px;
    border: 1px solid gray;
}

.img-flag {
    display: flex;
    margin: 40px;


}

.img-flag h2 {
    padding: 0 10px;
}

.web-text {
    text-align: center;
}


.box img {
    width: 93px;
    height: 56px;
    border-radius: 5px;
    background-size: cover;
}

/* icon style */
.box-icon {
    color: #949494;
    font-size: 20px;
    margin: 10px;
    margin-left: 15px;
    margin-right: 60px;

}

.box-icon2 {
    color: #949494;
    font-size: 20px;
}

.chat {
    margin-right: 20px;
}

.viwe-all {
    width: 230px;
    height: 64px;
    padding-top: 5px;
    background-color: #00b894;
    text-align: center;
    margin-left: 65%;
    margin-top: 20px;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: large;
    font-weight: bolder;
}

/* footer */
footer {
    background: #111;
    width: 100vw;
    height: auto;
    padding: 100px 0;
    color: #fff;
    text-align: center;
    margin-top: 5%;

}

.footer-content {
    text-align: center;
    padding-bottom: 20px;


}

.footer-bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

/* social icon style */
.social-icon {
    justify-content: center;
    display: flex;

}

.social-icon a,
.s-icon {
    font-size: 30px;
    margin-left: 40px;
    margin-top: 20px;
}

/* ---------media queries
------------------------------- */
/* -----------------------------mobile devies--------- */
@media only screen and (max-width:688px) {
    .head-content {
        width: 334px;
        height: 472px;
    }

    #image img {
        height: 245px;
    }

    .content {
        width: 258px;
        font-size: x-small;
        text-align: center;
        margin-left: 11%;

    }

    .head-content {
        margin: auto;
    }

    .content h1 {
        font-weight: 400;
        font-size: 20px;
    }

    .head-button {
        padding: 10px 20px;
    }

    .head-button a {
        font-weight: 400;
    }

    #image {
        position: absolute;
        top: 35%;
        left: 22%;

    }

    #image img:hover {
        filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));

    }

    .box-menu {
        width: 210px;
        height: 177px;
        margin: 40px 0;
    }

    .box-menu button {
        padding: 5px;
        margin: 5px;
    }

    .box-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .box {
        width: 315px;
        border: 1px solid gray;
        border-radius: 5px;
    }

    footer {
        width: 375px;
        height: 412px;

    }

    .footer-bottom {
        display: flex;
        flex-direction: column;
    }

    .social-icon a,
    .s-icon {
        margin-left: 5px;
    }

    .viwe-all {
        display: none;
    }
}

/* ---------media queries
------------------------------- */
/* -----------------------------tablet devies--------- */
@media only screen and (min-width: 688px) and (max-width:992px) {
    .head-content {
        width: 734px;
        height: 398px;
    }

    .content {
        width: 316px;
        font-size: medium;
        text-align: left;
        margin-left: 11%;
        margin-top: 30px;

    }

    .head-content {
        margin: auto;
    }

    .content h1 {
        font-weight: 700;
        font-size: 30px;
    }

    #image img {
        height: 324px;
    }

    #image {
        position: absolute;
        top: 2%;

    }

    .box-menu {
        width: 230px;
        height: 64px;
        border-radius: 6px;
        background-color: white;
        margin: 20px;
        display: flex;
        flex-direction: row;
    }

    .box-menu button {
        padding: 5px 45px;
        margin: 5px 45px;
        background-color: #f2f2f2;
    }

    .box-menu button a {
        font-size: 15px;
    }

    .box-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blog-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

    }

    .viwe-all {
        width: 230px;
        height: 64px;
        padding-top: 5px;
        background-color: #00b894;
        text-align: center;
        margin-top: 20px;
        color: white;
        border: none;
        border-radius: 6px;
        font-size: large;
        font-weight: bolder;
    }
}

@media only screen and (min-width:993px) and (max-width:1311px) {
    .viwe-all {
        display: none;
    }
}